<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet">
        <title>Ma page</title>
    </head>

    <body>
        <header><%-include ('./master.ejs') %> </header>
        <h1>Bienvenue sur ma page</h1>

        <br />
        <br />
      
        <form action = "/ajoutEtudiant" method="post">
            <input id="ID" type="hidden" name="ID">
            <label>Nom : </label>
            <input type="text" id="name" name="name"
            placeholder="Entrez votre nom" />

            <label>Prenom : </label>
            <input type="text" name="prenom"
            placeholder="Entrez votre prenom" />

            <label>Date de naissance : </label>
            <input type="date" name="date"
            placeholder="Entrez votre date de naissance" />
            
            <label>Votre numéro de carte d'Identité </label>
            <input type="number" name="num"
            placeholder="Entrez votre numero CNI" />

            <input type = "submit" value="Envoyer" />
        </form>
        <br /> 
    </body>
</html>