<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet">
        <title>Ma page</title>
    </head>

    <body>
        <header><%-include ('./master.ejs') %> </header>
        <h1>Bienvenue sur ma page</h1>

   
        <h2> <%= title %> </h2>
      
    </body>
</html>