<!DOCTYPE html>
<html>
    <head>
      <link href="/css/style.css" rel="stylesheet">
        <title>Ma page</title>
    </head>

    <body>
        <header><%-include ('./master.ejs') %> </header>
            <h1>Liste des etudiants</h1>
            <div class="search">
            <form action = "/listeBySearch" method="post">
            <input type="research" name="research" placeholder="Recherchez un nom ou un prenom"/> 
            <input type = "submit" value="Rechercher" />
          </form>
            </div>
            <table id="myTable" border="1">
                <thead>
                  <tr>
                    <th id="Nom">
                      Nom
                    </th>
                    <th id="Prenom">
                      Prenom
                    </th>
                    <th id="Date">
                        Date de naissance
                    </th>
                    <th id="NumCI">
                        Numero Carte Identité
                    </th>
                    <th id="Age">
                      Age
                    </th>
                    <th>Modification</th>
                    <th>Suppression</th>
                  </tr>
                </thead>
                  <tbody id="tableau">
                    <% for (const etudiant of etudiants) { %>
                        <tr>
                            <input style="visibility : hidden" value="<%= etudiant.idEtudiants %>">
                            <td><%= etudiant.nom %></td>
                            <td><%= etudiant.prenom %></td>
                            <td><%= etudiant.dateNaissance %></td>
                            <td><%= etudiant.numCI %></td>
                            <td><%= etudiant.age %></td>
                            <td><a href="/formModif/<%= etudiant.idEtudiants %>" class="btn btn-primary">Modifier</a></td>
                            <td><a href="/suppEtudiant/<%= etudiant.idEtudiants %>" class="btn btn-primary">Supprimer</a></td>
                        </tr>
                    <% } %>
                  </tbody>
                </table>
                <br /> <br />
                <nav>
                  <ul class="pagination">
                      <!-- Lien vers la page précédente (désactivé si on se trouve sur la 1ère page) -->
                      <li class="page-item">
                        
                        <a href="/liste/<%= parseInt(currentPage) - 1 %>" class="page-link"
                        <% if (currentPage < Math.ceil(etudiants.length / 5) + 1) { %> 
                          style="visibility: hidden" 
                        <% } 
                        else { %>
                          style="visibility: visible" 
                        <% } %>><</a>
                      </li>
                 
                        
                        <li class="page-item">
                              <%= currentPage %>
                        </li>
            
                        <!-- Lien vers la page suivante (désactivé si on se trouve sur la dernière page) -->
                        <li class="page-item">
                          
                          <a href="/liste/<%= parseInt(currentPage) + 1 %>" class="page-link"
                          <% if (currentPage >= Math.ceil(etudiants.length)) { %> 
                            style="visibility: hidden" 
                          <% } 
                          else { %>
                            style="visibility: visible" 
                          <% } %>
                          >></a>
                      </li>
                  </ul>
              </nav>
            <br />
    </body>
</html>
