       <navbar>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/ajout">Ajout d'un etudiant</a></li>
                <li><a href="/liste/1/">Lister les etudiants</a></li>
            </ul>
        </navbar>