<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet">
        <title>Ma page</title>
    </head>

    <body>
        <header><%-include ('./master.ejs') %> </header>
        <h1>Bienvenue sur ma page</h1>

        <h2>Modification d'un étudiant</h2>

        <br />

<form action = "/modifEtudiant/<%= etudiantModif.idEtudiants %>" method="post">
    <input id="id" type="hidden" name="id" value="<%= etudiantModif.idEtudiants %>">
    <label>Nom : </label>
    <input type="text" id="name" name="name"
    placeholder="Entrez votre nom" value="<%= etudiantModif.nom %>"/>

    <label>Prenom : </label>
    <input type="text" name="prenom"
    placeholder="Entrez votre prenom" value="<%= etudiantModif.prenom %>"/>

    <label>Date de naissance : </label>
    <input type="date" name="date"
    placeholder="Entrez votre date de naissance" value="<%= etudiantModif.dateNaissance %>"/>

    <label>Votre numéro de carte d'Identité </label>
    <input type="number" name="num"
    placeholder="Entrez votre numero CNI" value="<%= etudiantModif.numCI %>"/>

    <input type = "submit" value="Modifier" />
</form>
</body>
</html>