navbar {
    background-color: white;
    border-bottom: 1px solid rgb(32, 32, 32);
}

navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

navbar li {
    display: inline-block;
}

navbar a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 14px 16px;
    transition: 0.3s;
}

navbar a:hover {
    transform: scale(1.2);
}

h1, h2 {
    text-align: center;
}
form {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
}

input[type="text"], input[type="research"], input[type="date"], input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

label {
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}


th {
    background-color: #f2f2f2;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}


td {
    padding: 12px ;
    border-bottom: 1px solid #ddd;

}


.btn {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #3e8e41;
}
.search {
    text-align: center;
}
nav .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav .pagination li {
    display: inline-block;
    margin: 0 5px;
  }
  
  nav .pagination .page-item a {
    background-color: #7b7b7b;
    color: #fff;
    border: 1px solid #7b7b7b;
    border-radius: 5px;
    padding: 8px 30px;
    text-decoration: none;
  }
  
  nav .pagination .page-item a:hover,
  nav .pagination .page-item a:focus {
    background-color: #2b2b2b;
    border-color: #2b2b2b;
  }
  
  nav .pagination .page-item.disabled a {
    background-color: #ddd;
    border-color: #ddd;
    color: #333;
    cursor: not-allowed;
  }
  